{% extends 'base.html' %}
{% block content %}
{% load static %}
<section id="section1">
    <div class="landing">
        <h6 class="animate__animated animate__fadeInLeft animate__delay-2s"><span>One stop solution for all</span> <br>
            Corporate </span><span> - </span> Secretarial <br><span> & </span> Legal <br><span> requirements. </span>
        </h6>
        <img src="{% static 'img/hero.png'%}" class="animate__animated animate__slideInRight animate__delay-1s">
    </div>
    <section>
        <div class="p-5 about" id="js-wrapper">
            <div class="sections" id="js-slideContainer">
                <div class="about-container-top" id="aboutcontainertop">
                    <span class="sectionTitle" id="title2"></span>
                    <div class="d-sm-flex justify-content-start about-container">
                        <div class="rounded about-img">
                            <div class="over-div" id="overDiv"></div>
                            <img src="{%static 'img/2.jpg' %}" alt="">
                            <div class="over" id="over"></div>
                        </div>
                        <div class="p-4 text">
                            <div class="shadow-lg rounded text-container">
                                <h6 id="heading">Who Are We</h6>
                                <p id="para"><span>RANJ & Associates</span> is a firm of Practising Company Secretaries
                                    registered with
                                    the Institute
                                    of Secretaries of India (ICSI), the premier Institution promoting good Corporate
                                    Governance in
                                    India.
                                    <br> <br>
                                    We are a multi-skilled, multi-disciplined Firm, offering a range of one-stop
                                    solutions in the sphere
                                    of
                                    Corporate Laws,
                                    Securities Laws, and
                                    other corporate advisory, with expertise, integrity and professionalism.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-container-top" id="aboutContainerBottom">
                    <span class="sectionTitle" id="title2"></span>
                    <div class="d-sm-flex flex-row-reverse justify-content-start about-container">
                        <div class="rounded about-img">
                            <div class="over-div" id="overDivbottom"></div>
                            <img src="{% static 'img/bottom-1.jpg' %}" alt="">
                            <div class="over" id="overbottom"></div>
                        </div>
                        <div class="p-4 text">
                            <div id="text-container-bottom" class="shadow-lg rounded text-container">
                                <h6 id="headingbottom">Values & Beliefs</h6>
                                <ul id="parabottom">
                                    <li>Quality excellence</li>
                                    <li>Delivering the promise swiftly</li>
                                    <li>Learning, creativity & innovation</li>
                                    <li>Integrity, fairness & equity</li>
                                    <li>Team spirit & synergy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="testimonials">
            <div class="inner-test">
                <h3 data-aos="fade-down" data-aos-duration="500">testimonials</h3>
                <div class="slider" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300">
                    <div>
                        <p>"RANJ & Associates have been with us since our inception 10 years ago.Both as a startup in
                            the
                            early days and
                            as a
                            medium sized enterprise today, we have had the benefit of their superior guidance, advice
                            and
                            counsel on all
                            compliances and secretarial ones in particuar. Their team actually listens to us,
                            anticipates
                            issues and
                            more offten
                            than not goes beyond the call of duty in hand-holding us throughout the compliance value
                            chain.
                            They are
                            transparent
                            in their pricing, professional in their work and dedicated to their clients.It has been
                            great
                            working with
                            them."
                        </p>
                        <h5>Vinay Kumar</h5>
                        <h6>-Founder & CEO of a emerging Renewable Energy Company-</h6>
                    </div>
                    <div>
                        <p>"RANJ’s inherent professionalism, versatility synergized with good judgment in corporate law
                            advisory and
                            strategy gave
                            us a
                            top-notch experience, worth talking about. In these changing times with so many amendments
                            and
                            evolving
                            legal spectrum,
                            your Firm
                            showcases a constructive model of knowledge and wit.
                            <br>
                            Thanks and will always count on you!"
                        </p>
                        <h5>Saritha</h5>
                        <h6>-Company Secretary working in a reputed pharmaceutical company-</h6>
                    </div>
                    <div>
                        <p>"A Firm with acumen ‘professionals’ which delivers the assignments to clients within the
                            agreed
                            timeline.
                            “Corporate Governance”
                            in today’s technology world is of utmost important to every firm, and the pragmatic
                            experience,
                            in terms of
                            regulatory compliances,
                            we had with “RANJ & Associates” may not be juxtaposed with others. They keep their clients
                            abreast about latest
                            amendments of laws and
                            regulations.
                            <br>
                            Thanks !"</p>
                        <h5>Nithin</h5>
                        <h6>-A Corporate Governance professional working with a MNC engaged into automotive retail
                            solutions-</h6>
                    </div>
                    <div>
                        <p>"A company always looks out for a team of knowledgeable and committed professionals to be
                            able to
                            evaluate and
                            provide quick and
                            most viable solutions in the dynamic corporate world while preserving high standards of
                            governance. RANJ &
                            team’s advises have always
                            been on the forefront of this and guided the Company to incorporate some of best corporate
                            governance practices.
                            Their partners are
                            extremely knowledgeable and professional who work closely with the company in brainstorming
                            and
                            strategize best
                            of the solutions.
                            <br> <br>
                            Our company has been very satisfied and we highly regard their level of accuracy and
                            promptness
                            in rendering the
                            services.
                            Their team adopts an inclusive and proactive approach in ensuring the Company is complaint
                            with
                            all corporate
                            rules and regulations.
                            We have had a long-standing relation with RANJ and continue and maintain the engagement."
                        </p>
                        <h5>Shailaja</h5>
                        <h6>-Chief Compliance Officer of Knowledge Process Outsourcing Company-</h6>
                    </div>
                    <div>
                        <p>"RANJ is highly professional, hardworking and friendly and they handle the issues
                            programmatically. I am really
                            amazed with the way
                            they have handled our fund raising assignment. I had heard about of before but working with
                            them
                            was really a
                            pleasurable experience.
                            <br>
                            Keep going 'Team RANJ' & Cheers!"</p>
                        <h5>Gowri Shankar</h5>
                        <h6>-A Finance Controller at a leading manufacturer of High Precision Engineering Components-
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="quote">
            <div class="quote-overlay">
            </div>
            <h6 class="p-5 border"> The only way to do great work is to love
                what you do
            </h6>
        </div>
    </section>
    <section>
        <div class="twitter-embed">
            <div class="twitter">
                <i class="fa fa-twitter"></i>
                <h4>Join RANJ & Associates in conversation</h4>
                <h6><a href="https://twitter.com/RanjAssociates">@RanjAssociates | 19h</a></h6>
                <h2>Among other measures, Due date of all Income-tax Returns for FY 2019-20 will be extended from...</h2>
                <a href="https://twitter.com/RanjAssociates">https://twitter.com/RanjAssociates</a> <br>
                <button class="btn-4"><span>Share your views</span></button>
            </div>
        </div>
    </section>
    <!-- <section>
            <div class="latest">
                <div class="latest-inside">
                    <h6>Latest blogs</h6>
                    <div class="d-flex justify-content-around p-5 latest-posts">
                        <a href="#">
                            <div class="shadow lg-5 bg-white rounded post">
                                <div class="overlay">
                                    <img src="{% static 'img/download.jpg' %}" alt="">
                                </div>
                                <div class="bottom">
                                    <h4 class="p-2">Relaxation in respect of Board meetings via Electronic Mode under the Companies Act...</h4>
                                    <h5>14 May | 2020 |</h5>
                                    <h5>know More</h5>
                                </div>
                            </div>
                        </a>
                        <div class="shadow lg-5 bg-white rounded post">
                            <div class="overlay">
                                <img src="{% static 'img/IBBI.jpg' %}" alt="">
                            </div>
                            <div class="bottom">
                                <h4 class="p-2">IBBI relaxes implementation of timelines for delayed filing of forms by IP/IRPs...</h4>
                                <h5>14 May | 2020 |</h5>
                                <h5>know More</h5>
                            </div>
                        </div>
                        <a href="#">
                            <div class="shadow lg-5 bg-white rounded post">
                                <div class="overlay">
                                    <img src="{% static 'img/1.jpg' %}" alt="">
                                </div>
                                <div class="bottom">
                                    <h4 class="p-2">Relaxation in respect of Board meetings via Electronic Mode under the Companies Act...</h4>
                                    <h5>14 May | 2020 |</h5>
                                    <h5>know More</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section> -->
</section>
<div class="d-flex pagination">
    <div class="previous">
        <div class="previous-inside">
        </div>
    </div>
    <div class="next">
        <a href="{% url 'services' %}"><div class="next-inside">
            <h6>Next</h6>
            <div class="pagination-icon">
                <i class="fa fa-long-arrow-right"></i>
            </div>
            <h4>What we do</h4>
        </div></a>
    </div>
</div>
{% endblock %}
