{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="post-detail-container">
    <div class="post-detail-img">
        <h3>IBBI relaxes implementation of timelines for delayed filing of forms by IP/IRPs</h3>
        <img src="{% static 'img/board.jpg' %}" alt="">
    </div>
    <div class="p-5 shadow rounded post-detail-desc">
        <h5>1 WEEK, 3 DAYS AGO</h5>
        <p>
        IBBI relaxes implementation of timelines for delayed filing of forms by IP/IRPs
        IBBI relaxes implementation of timelines for delayed filing of forms by IP/IRPs Insolvency and Bankruptcy Board of India
        (IBBI) vide its Notification No. IBBI/2019-20/GN/REG055 further amended Regulation 40B(4) of Insolvency and Bankruptcy
        Board of India (Insolvency Resolution Process for Corporate Persons) Regulations, 2016
        Insolvency and Bankruptcy Board of India (IBBI) vide its Notification No. IBBI/2019-20/GN/REG055 further amended
        Regulation 40B(4) of Insolvency and Bankruptcy Board of India (Insolvency Resolution Process for Corporate Persons)
        Regulations, 2016, relaxing the implementation of fee of Rs. 500 per Form for each calendar month of delay from 1st
        April, 2020 instead of 1st January, 2020 payable for filing of various Forms by Interim Resolution Professionals/
        Resolution Professionals in relation to a Corporate Insolvency Resolution Process (CIRP) with the IBBI.
        <br><br>
        This move is expected to bring transparency in the dissemination of the information pertaining to a CIRP and casts
        greater accountability on the Interim Resolution Professionals/ Resolution Professionals.
        <br><br>
        Source:  <a href="https://www.ibbi.gov.in/uploads/whatsnew/5d33207e628c063b27457dcd20fa89ed.pdf">
            https://www.ibbi.gov.in/uploads/whatsnew/5d33207e628c063b27457dcd20fa89ed.pdf
        </a>
        </p>
        <div class="sharethis-inline-share-buttons"></div>
    </div>
</div>


{% endblock %}