{% extends 'base.html' %}
{% block content %}
{% load static %}

<section id="section3">
    <section id="portfolio">
        <div class="main">
                <h2>
                    <span>r</span>
                    <span>a</span>
                    <span>n</span>
                    <span>j</span>
                </h2>
            </div>
        <div id="modal-container">
            <div class="modal-background">
                <div id="rahul" class="modal">
                    <div class="d-flex modal-img">
                        <div class="modal-lead-img">
                            <img src="{% static 'img/team/Rahul-1.jp' %}g" alt="">
                        </div>
                    </div>
                    <div class="p-5 modal-desc">
                        <h3>Rahul Jain</h3>
                        <h5>Co-Founder</h5>
                        <p>RAHUL JAIN is a founding partner of RANJ. Being a qualified Company Secretary from The ICSI,
                            he administers matters
                            pertaining to Corporate Compliance Management, Corporate Dispute Resolution, M&As, Contract
                            law, Insolvency & Bankrupcy
                            Legislation, Securities law.<br><br>
                            Besides, he is a Trademark Agent and spearheading the IPR Division of the firm.
                            In his quest to contribute to profession, he has served as the Vice-Chairman of
                            ICSI-Hyderabad Chapter at a young age of 29. He
                            is also a regular speaker for various Seminars, Competitions & Conferences at ICSI & top Law
                            and Management Institutions
                            of the Country.</p>
                        <a href="mailto:csrahulhyd@gmail.com">csrahulhyd@gmail.com</a>
                    </div>
                </div>
                <div id="nitesh" class="modal">
                    <div class="d-flex modal-img">
                        <div class="modal-lead-img">
                            <img src="{% static 'img/team/Nitesh-1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="p-5 modal-desc">
                        <h3>Nitesh Agarwal</h3>
                        <h5>Co-Founder</h5>
                        <p>NITESH AGARWAL is a founding partner of the firm. By qualification he is a Bachelor of
                            Commerce and an Associate Member
                            of The Institute of Company Secretaries of India (ICSI), a Statutory body under an act of
                            Parliament.
                            <br><br>
                            Over the years he
                            has amassed knowledge in the facet of Secretarial Compliances, Secretarial Audit, Due
                            Diligence, Compliances under FEMA,
                            Import-Export Regulations and other Corporate Affairs. He is a regular columnist on various
                            updates on legal & corporate
                            front and has featured in a various seminars and conferences.</p>
                        <a href="mailto:nitesh@rcapl.in">nitesh@rcapl.in</a>
                    </div>
                </div>
                <div id="vinay" class="modal">
                    <div class="d-flex modal-img">
                        <div class="modal-lead-img">
                            <img src="{% static 'img/team/Vinay-1.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="p-5 modal-desc">
                        <h3>Vinay Kumar Jain</h3>
                        <h5>Co-Founder</h5>
                        <p>VINAY KUMAR JOSHI is a qualified Company Secretary and Law Graduate. At RANJ, he leads the
                            GST & Labour law Compliances Team of the firm.
                            <br><br>
                            He has varied expertise in the sphere of HR/Labour Laws, Payroll Management, Preparation of
                            HR Manual and Policies and all kinds of State and Central licensing like Shops &
                            Establishment License, Goods & Service Tax, MSME, Profession Tax, Employees State Insurance
                            & Provident Fund, Trade License, Factory License, Fire NOC etc.</p>
                        <a href="mailto:vinay@rcapl.in">vinay@rcapl.in</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-body">
            <div class="team-body-inside">
                <h3>Leadership Team</h3>
                <div class="line-through"></div>
                <div class="card-body">
                    <div class="shadow rounded card-lead">
                        <img src="{% static 'img/team/Rahul-1.jpg' %}" alt="">
                        <h6> <span>Ra</span>hul Jain</h6>
                        <p>RAHUL JAIN is an Associate Member of The Institute of Company Secretaries of India (ICSI).
                        </p>
                        <button id="one" class="btn-5"><span>Know More</span></button>
                    </div>
                    <div class="shadow rounded card-lead">
                        <img src="{% static 'img/team/Nitesh-1.jpg' %}" alt="">
                        <h6><span>N</span>itesh Agarwal</h6>
                        <p>NITESH AGARWAL is a Bachelor of Commerce and an Associate Member of The (ICSI).</p>
                        <button id="two" class="btn-5"><span>Know More</span></button>
                    </div>
                    <div class="shadow rounded card-lead">
                        <img src="{% static 'img/team/Vinay-1.jpg' %}" alt="">
                        <h6>Vinay Kumar <span>J</span>oshi</h6>
                        <p>VINAY KUMAR JOSHI is a Law Graduate and heads Labour Law & Indirect Tax Verticals of the
                            Company.</p>
                        <button id="three" class="btn-5"><span>Know More</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Associates -->
        <div id="modal-container-associate">
            <div class="modal-background-associate">
                <div id="sakshi" class="modal-associate">
                    <div class="d-flex modal-img-associate">
                        <div class="modal-lead-img-associate">
                            <img src="{% static 'img/team/sakshi.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="p-5 modal-desc-associate">
                        <h3>Sakshi Jain</h3>
                        <h5>Associate</h5>
                        <p>Sakshi is an Associate Member of the ICSI and has been associated with RANJ since
                            2017.<br><br> She handles a diverse range of
                            Corporate law Affairs for our Clients including Compliance Management, Secretarial Audit,
                            Due Diligence, drafting and
                            vetting of various legal agreements, FEMA & NCLT matters.</p>
                        <a href="mailto:sakshi@rcapl.in">sakshi@rcapl.in</a>
                    </div>
                </div>
                <div id="neha" class="modal-associate">
                    <div class="d-flex modal-img-associate">
                        <div class="modal-lead-img-associate">
                            <img src="{% static 'img/team/neha.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="p-5 modal-desc-associate">
                        <h3>Neha Agarwal</h3>
                        <h5>Co-Founder</h5>
                        <p>Neha is a qualified Company Secretary and has been associated with RANJ for more than two
                            years.<br><br> Besides managing the
                            compliances under Companies Act, 2013, FEMA and allied laws, she is also specialized into
                            dealing with the Trademark and
                            Copyright matters & assignments relating to societies/trusts.</p>
                        <a href="mailto:neha@rcapl.in">neha@rcapl.in</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="associate-body">
            <div class="associate-body-inside">
                <h3>Associate Team</h3>
                <div class="line-through-associate"></div>
                <div class="card-body-associate">
                    <div class="shadow rounded card-lead-associate">
                        <img src="{% static 'img/team/sakshi.jpg' %}" alt="">
                        <h6>Sakshi Jain</h6>
                        <p>Sakshi is an Associate Member of the ICSI and has been associated with RANJ since 2017.</p>
                        <button id="four" class="btn-4"><span>Know More</span></button>
                    </div>
                    <div class="shadow rounded card-lead-associate">
                        <img src="{% static 'img/team/neha.jpg' %}" alt="">
                        <h6>Neha Agarwal</h6>
                        <p>Neha is a qualified Company Secretary and has been associated with RANJ for more than two
                            years.</p>
                        <button id="five" class="btn-4"><span>Know More</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="d-flex pagination">
    <a href="{% url 'services' %}"><div class="previous">
        <div class="previous-inside">
            <h6>Previous</h6>
            <i class="fa fa-long-arrow-left"></i>
            <h4>What we do</h4>
        </div></a>
    </div>
    <div class="next">
        <div class="next-inside">
            <h6>Next</h6>
            <i class="fa fa-long-arrow-right"></i>
            <h4>Careers</h4>
        </div>
    </div>
</div>
{% endblock %}